# Quarto / build
/_book/
/_site/
/.quarto/
/_cache/
/_freeze/

# R / RStudio
.Rhistory
.RData
.Rproj.user/

# OS
.DS_Store
Thumbs.db
Hidrología-Aplicada-a-la-Ingeniería-Civil.pdf
*.pdf

**/*.quarto_ipynb
